@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #000;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  margin-top: -85px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  display: flex;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  margin-right: 300px;
}

.content .textBox h2 {
  color: #000000;
  font-size: 3em;
  line-height: 0.1rem;
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-weight: 900;
  font-size: 5em;
}

#mint {
  height: 50px;
  width: 100px;
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  border-style: none;
  border-radius: 25px;
}

.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
