@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#unlockbutton {
  height: 30px;
  width: 140px;
  color: #000;
  background-color: #ffc0cb;
  cursor: pointer;
  border-radius: 25px;
  border-style: none;
}

#unlockbutton:hover {
  color: #4b4b4b;
}
#unlockbutton:hover {
  color: #4b4b4b;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #000;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  margin-top: -85px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 91%;
  padding-left: 40px;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.content .textBox h2 {
  color: #000000;
  font-size: 3em;
  line-height: 0.1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.content .textBox p {
  font-weight: 500;
}

.content .textBox span {
  margin-left: 20px;
  margin-top: 5px;
  }

.content .imgBox {
  display: flex;
}

.card {
  margin: 0 0 0 20px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar li {
  list-style: none;
}

/* Style the icon bar links */
.icon-bar a {
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 20px 35px 10px 0;
  color: #000000;
}

.icon-bar a:hover {
  color: #333333;
}

h1 {
  font-weight: 900;
  font-size: 5em;
}

#mint {
  height: 50px;
  width: 100px;
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 5px;
}

#mint:hover {
  color: #4b4b4b;
}
#mint:hover {
  color: #4b4b4b;
}

.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

footer {
  color: #656565;
  height: 300px;
  background-color: #ffc0cb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
